$black: #141b1e;
$white: #dadada;
$gray0: #dadada;
$gray1: #bdc3c2;
$gray2: #97a09e;
$gray3: #3b4244;
$gray4: #232a2d;
$gray5: #1b2226;
$gray6: #141b1e;
$gray7: #141b1e;
$gray8: #141b1e;
$gray9: #141b1e;
$blue0: #71baf2;
$blue1: #71baf2;
$blue2: #71baf2;
$blue3: #71baf2;
$blue4: #71baf2;
$blue5: #67b0e8;
$blue6: #67b0e8;
$blue7: #67b0e8;
$blue8: #67b0e8;
$blue9: #67b0e8;
$green0: #8ccf7e;
$green1: #8ccf7e;
$green2: #8ccf7e;
$green3: #8ccf7e;
$green4: #8ccf7e;
$green5: #6bc568;
$green6: #6bc568;
$green7: #6bc568;
$green8: #6bc568;
$green9: #6bc568;
$yellow0: #f4d67a;
$yellow1: #f4d67a;
$yellow2: #f4d67a;
$yellow3: #f4d67a;
$yellow4: #f4d67a;
$yellow5: #e5c76b;
$yellow6: #e5c76b;
$yellow7: #e5c76b;
$yellow8: #e5c76b;
$yellow9: #e5c76b;
$red0: #ef7d7d;
$red1: #ef7d7d;
$red2: #ef7d7d;
$red3: #ef7d7d;
$red4: #ef7d7d;
$red5: #e57474;
$red6: #e57474;
$red7: #e57474;
$red8: #e57474;
$red9: #e57474;
$purple0: #ce89df;
$purple1: #ce89df;
$purple2: #ce89df;
$purple3: #ce89df;
$purple4: #ce89df;
$purple5: #c47fd5;
$purple6: #c47fd5;
$purple7: #c47fd5;
$purple8: #c47fd5;
$purple9: #c47fd5;
